<div class="chat-container">
  <div class="user-list">
    <input type="text" [(ngModel)]="searchQuery" (input)="searchUsers()" placeholder="Search users..." />
    <ul>
      <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
        {{ user }}
      </li>
    </ul>
  </div>
  <div class="chat-box">
    <h2 *ngIf="selectedUser">Chat with {{ selectedUser }}</h2>
    <div class="messages">
      <div *ngFor="let msg of messages">{{ msg.message }}</div>
    </div>
    <input [(ngModel)]="message" placeholder="Type a message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>